@charset "UTF-8";

/* HEADER  */
header{
  height: 10vh;
}

header h1{
  font-size: 1em;
}

/* BAR NAV */

nav{
  position: relative;
  flex-direction: column;
}

nav a{
  margin: auto;
}

/*  MAIN  */

main{
  width: 90%;
  margin: auto;
}

.main{
  width: 90%;
  margin: auto;
}

div{
  width: 80%;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div h1, p{
  font-size: 1em;
}