@charset "UTF-8";

/* HEADER  */
header{
  margin: 0;
  padding: 0;
  height: 4em;
}

header h1{
  font-size: .8em;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-shadow: 0px 0px 0px transparent;
}

/* BAR NAV */

nav{
  position: relative;
  flex-direction: column;
}

nav a{
  margin: auto;
  font-weight: normal;
}

/*  MAIN  */

main{
  width: 90%;
  margin: 0 auto 2em auto;
}

.main{
  width: 100%;
  margin: auto;
}

div{
  width: 80%;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div h1{
  font-size: 1em;
}

div p{
  font-size: .8em;
}

footer{
  font-size: .8em;
}