@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Charm&family=Noto+Sans+Display:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&family=Cinzel+Decorative:wght@700&family=Noto+Sans+Display:wght@300&family=Roboto&display=swap');
/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #503e29d4;
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
  width: 100%;
  height: 20vh;
  background: url(img/img-header.jpg) center center no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: color ;
  position: relative;
}

header h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  font-size: 3em;
  font-family: 'Cinzel Decorative', cursive;
}

/* BAR NAV */

nav{
  width: 100%;
  margin: 1% auto 5% auto;
  background-color: #a69080c7;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 2px;
}

nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 1em 3em;
  padding: .5em;
  font-weight: bold;
}

nav a:hover{
  font-size: 1.25em;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: 1s;
  background-color: rgba(255, 255, 255, 0.535);
  border-radius: .5em;
  padding: .25em 1em;
}

/* MAIN */

main{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}

#middle{
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
}

/* DIV.CONTENT1 */

.content1{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content1 img{
  width: 60%;
  padding: 2% 1% 0 2%;
}

.content1 p{
  width: 40%;
  padding: 2% 2% 0 0;
  letter-spacing: 1px;
}

/* A.KNOW_MORE */

.know_more{
  text-align: center;
  text-decoration: none;
  color: rgb(180, 129, 129);
  background-color: rgba(0, 0, 0, 0.083);
  width: 96%;
  margin: 3% auto;
  padding: 2% 0;
}

.know_more:hover{
  color: #000;
  font-size: 1.5em;
  transition: 1s;
}

/* DIV.CONTENT2 */

.content2{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content2 img{
  width: 96%;
  margin: auto;
}

.content2 p{
  text-align:center;
  padding: 5% 2%;
  letter-spacing: 1px;
  font-size: 1.1em;
}

/* DIV.CONTENT3 */

.content3{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

figure{
  margin: 5% auto;
  width: 30%;
}

figure img{
  width: 100%;
  border-radius: 0 10px;
}

figcaption{
  font-size: .7em;
  color: #777;
  text-align: center;
}



/* ASIDE RIGHT */

#aside-right{
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
}

#aside-right img{
  width: 96%;
  margin: 20% auto 2% auto;
  border-radius: 4px;
}

#aside-right :nth-child(1){
  margin-top: 5%;
}

#aside-right p{
  text-align: center;
  font-size: .8em;
  color: #777;
}

#aside-right h2{
  text-align: center;
}

hr{
  width: 80%;
  margin: 0 auto;
}

/* ASIDE LEFT */

#aside-left{
  width: 20%;
  background: url(img/img-wine.jpg) center center no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.33);
  background-blend-mode: color;
  padding: 1em;
  border-radius: 4px;
}

#aside-left h2{
  text-align: center;
  margin-bottom: 1em;
  font-size: 2em;
}

#aside-left h3{
  text-align: center;
  font-size: .8em;
  margin-bottom: 3em;
}

#aside-left h4{
  text-align: center;
  margin-bottom: 1em;
  border-bottom: .5px solid #777;
}

#aside-left ul li{
  list-style-type: none;
  margin-bottom: 2em;
}

/* SPAN : HOVER */

.rest{
  display: none;
}

span{
  color: rgb(79, 1, 1);
  text-decoration: underline;
}

span:hover+.rest{
  display: block;
  width: 700px;
  position: absolute;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.912);
  color: #fff;
  padding: 1em;
}

/* FOOTER */

footer{
  background-color: #a69080c7;
  padding: 2em;
}

footer p{
  font-size: 0.7em;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.679);
  text-align: center;
  margin-bottom: .3em;
}